workflows/Job Listing Notifier and Calendar Event Set.json
{
  "name": "Amul Masti",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "sender": "vjain_be23@thapar.edu"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        -80
      ],
      "id": "da69e3ae-3fbe-4220-a778-a2b293470702",
      "name": "Gmail Trigger",
      "credentials": {}
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject: {{ $json.Subject }}\n\nBody:\n{{ $json.snippet }}",
        "options": {
          "systemMessage": "You are a placement email analyser for an Indian engineering college student from Batch 2027 at Thapar University.\n\nRead the email subject and body and extract the following information. \n\nReturn ONLY valid JSON — no markdown, no backticks, no extra text. Just raw JSON.\n\n{\n  \"is_job_opening\": true or false,\n  \"is_for_batch_2027\": true or false,\n  \"company_name\": \"Company name or null\",\n  \"role\": \"Job title or null\",\n  \"package_or_stipend\": \"CTC or stipend mentioned or null\",\n  \"last_date_to_apply\": \"YYYY-MM-DD format only. Example: 2026-04-16. If only day and month mentioned with no year, use 2026 as the year. NEVER return human readable dates like 9th April or April 9.\",\n  \"cgpa_cutoff\": \"CGPA cutoff or null\",\n  \"application_link\": \"URL if present or null\",\n  \"summary\": \"2 sentence plain English summary of this opening\"\n}\n\nRules:\n- is_for_batch_2027 is true if email mentions 2027, BE/BTech final year 2027, or graduating in 2027\n- If batch year is not mentioned, assume true\n- If this is not a job or internship opening, set is_job_opening to false\n- last_date_to_apply MUST always be in YYYY-MM-DD format. This is mandatory.\n- If no deadline is mentioned, set last_date_to_apply to null\n- Return absolutely nothing except the JSON object"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        224,
        -80
      ],
      "id": "a8a7f20d-2c19-473f-bd20-4f47cadd4796",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "gpt-5.4"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        304,
        144
      ],
      "id": "6f56f175-72c7-4d15-bcfa-dc1736974300",
      "name": "OpenAI Chat Model",
      "credentials": {}
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output;\nconst clean = raw.replace(/```json|```/g, '').trim();\nconst data = JSON.parse(clean);\nreturn [{ json: data }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -80
      ],
      "id": "d3080a26-226b-4319-8869-a6bb7625b37f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8aed02fe-a46b-4581-b77a-71c06ddf5203",
              "leftValue": "={{ $json.is_job_opening }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "179ef227-598a-47fe-a856-03479b4c19d8",
              "leftValue": "={{ $json.is_for_batch_2027 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        800,
        -80
      ],
      "id": "a782bcdd-e678-4e31-95ce-88c8bba0df07",
      "name": "If"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "REDACTED_TWILIO_URL",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "From",
              "value": "whatsapp:+14155238886"
            },
            {
              "name": "To",
              "value": "whatsapp:+919779289260"
            },
            {
              "name": "Body",
              "value": "=🚨 NEW PLACEMENT ALERT \n\n🏢 Company: {{ $json.company_name  || 'Not mentioned'}}\n📅 Last Date: {{ $json.last_date_to_apply || 'Not mentioned' }}\n\n🔗 Apply: {{ $json.application_link || 'Check placement portal' }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1024,
        -80
      ],
      "id": "5663ada2-29aa-49a2-8784-6208bdfdeb24",
      "name": "HTTP Request",
      "credentials": {}
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "parthbiyani9@gmail.com",
          "mode": "list",
          "cachedResultName": "parthbiyani9@gmail.com"
        },
        "start": "={{ $('Code in JavaScript').item.json.last_date_to_apply }}",
        "end": "={{ $('Code in JavaScript').item.json.last_date_to_apply }}",
        "useDefaultReminders": false,
        "additionalFields": {
          "allday": "yes",
          "summary": "={{ $('Code in JavaScript').item.json.company_name }} — Application Deadline"
        },
        "remindersUi": {
          "remindersValues": [
            {
              "method": "email",
              "minutes": 1440
            },
            {
              "method": "popup",
              "minutes": 120
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        1248,
        -80
      ],
      "id": "d42f3973-f8de-4a79-9c49-5602eae72f8b",
      "name": "Create an event",
      "credentials": {}
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Create an event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "94ec27bb-4327-438f-bdda-b93c486e2da7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c97b970c45d2f5727604ffcb31a8165afe481a51034e108aa16c834ca7463945"
  },
  "id": "Cs37RzPGPRTvv1lF",
  "tags": []
}