workflows/LinkedIn HR Automation.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-reply",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "f2f2d374-1705-465e-8ec1-66cab9cdf429",
      "name": "Webhook",
      "webhookId": "a508024c-cd9e-4d44-9285-397b342298e8"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst messageText = body.Body;\n\nconst company = messageText.match(/Company:\\s*(.+)/i)?.[1]?.trim();\nconst deadline = messageText.match(/Last Date:\\s*(.+)/i)?.[1]?.trim();\n\nreturn [{\n  json: {\n    company,\n    deadline,\n    replyTo: body.From\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "609acdf0-da31-4335-8a3b-143010d70969",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Find the hiring contact at: {{$json.company}}",
        "options": {
          "systemMessage": "You are a hiring contact finder. Given a company name, use the \nSerpAPI tool to search Google for a recruiter, HR manager, or \ntalent acquisition person at that company on LinkedIn.\n\nUse this search query:\nsite:linkedin.com/in \"{{company}}\" recruiter OR \"talent acquisition\" OR \"HR manager\"\n\nFrom the results, extract and return ONLY:\n- Full name\n- Job title  \n- LinkedIn profile URL (full URL)\n\nReply in this exact format:\nName: [name]\nTitle: [title]\nLinkedIn: [url]"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        448,
        0
      ],
      "id": "c332fa52-d043-4dc3-ab44-e233af63705e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5.4",
          "mode": "list",
          "cachedResultName": "gpt-5.4"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        456,
        224
      ],
      "id": "a2e4ab17-40a6-46a2-9dab-ed84439376b7",
      "name": "OpenAI Chat Model",
        "credentials": {}
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        584,
        224
      ],
      "id": "f10c8774-e00f-48a7-b81b-f77500f307c4",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "Ii5b9uc3Ot7EKrBr",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "=<Response></Response>",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/xml"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        800,
        0
      ],
      "id": "5fe17dd6-8cab-48d8-900f-f3834297bd9a",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "from": "+14155238886",
        "to": "=+919779289260",
        "toWhatsapp": true,
        "message": "=✅{{ $('Code in JavaScript').item.json.company }}  📅 Deadline: {{ $('Code in JavaScript').item.json.deadline }}  \n\n{{$('AI Agent').first().json.output}}",
        "options": {}
      },
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        1024,
        0
      ],
      "id": "84fa68ff-5fda-4652-90e6-99eadc9363fe",
      "name": "Send an SMS/MMS/WhatsApp message",
        "credentials": {}
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Send an SMS/MMS/WhatsApp message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "82c8ea00-6752-43a9-8f58-a74de25a3c7f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4c8b194bbc04e9408a552f994be801cc6f649901e336848299feca8c312f8b49"
  },
  "id": "O8MTYkxqBf8Yzepq",
  "tags": []
}